<div class="p-d-flex p-flex-row">
  <p-button type="button"
            styleClass="p-button-icon-only p-button-text p-button-rounded"
            pTooltip="Decrease counter"
            icon="pi pi-minus"
            (onClick)="onDecreaseCounter()">
  </p-button>

  <p-inputNumber [ngModel]="counter$ | async"
                 (ngModelChange)="onSetCounter($event)">
  </p-inputNumber>

  <p-button type="button"
            styleClass="p-button-icon-only p-button-text p-button-rounded"
            pTooltip="Increase counter"
            icon="pi pi-plus"
            (onClick)="onIncreaseCounter()">
  </p-button>
</div>
